form .mainFormDiv {
    display: flex;
    align-items: center;
    margin: 45px 0;
}

form .FormDiv {
    flex: 1;
    overflow: hidden;
}

.basicgInfo {
    background: #2980b9;
    border: 10px solid #ecf0f1;
    padding: 50px;
    border-radius: 10px;
}

.groupCreate .mainFormDiv .FormDiv  h1 {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ecf0f1;
}

.groupCreate .mainFormDiv .FormDiv  label,
.groupCreate .mainFormDiv .FormDiv  p  {
    font-size: 15px;
    letter-spacing: 2px;
    color: #ecf0f1;
}

.groupCreate .mainFormDiv .FormDiv  textarea {
    resize: none;
}

.groupCreate .mainFormDiv .FormDiv  hr {
    margin: 0 0 20px 0;
}

.groupCreate .mainFormDiv .FormDiv  input[type="text"] {
    padding: 5px;
    margin: 5px 0 10px 0;
}

.groupCreate .mainFormDiv .FormDiv select{
    padding: 5px;
    margin: 5px 0 10px 0;
}

.groupCreate .mainFormDiv .FormDiv  input[type="submit"] {
    padding: 5px;
    margin: 15px 0 10px 0;
    justify-content: center;
    display: block;
    width: 100%;
    background: #ecf0f1;
    color: #2980b9;
    border-radius: 10px;
}

.groupCreate .mainFormDiv .FormDiv  input[type="submit"]:hover {
    background: #2980b9 ;
    color: #ecf0f1;
    cursor: pointer;
    transition: 1s;
    font-weight: bold;
}
