/*Div around a group cards*/
.groupCL a  {
    color: #fff;
}
.groupCL {
    margin: 0 20px 0 0;
    flex: 1;
}

.separatorBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.groupCard {
    background: #2980b9;
    padding: 20px 15px;
    border: 5px solid #ecf0f1;
    border-radius: 10px;
    margin: 15px;
    width: 400px;
    height: 200px;
    color: #ecf0f1;
    position: relative;
}

.groupCard h4 {
    position: absolute;
    bottom: 5px;
    right: 15px;
    background: #e74c3c;
    color: #fff;
    border: 2.5px solid #ecf0f1;
    border-radius: 10px;
    padding: 5px 10px;
}

.groupCard h2 {
    text-transform: capitalize;
    font-size: 20px;
}

#enterGroup {
    position: absolute;
    bottom: 15px; right: 120px;
}

#enterGroup form input[type="submit"] {
    background: #2ecc71;
    color: #fff;
    font-weight: bold;
    border: 2.5px solid #ecf0f1;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 1s;
}

#enterGroup form input[type="submit"]:hover {
    background: #f39c12;
    color: #fff;
    border: 2.5px solid #ecf0f1;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 1s;
}

#exitGroup {
    position: absolute;
    top: 10px; right: 15px;
}

#exitGroup form input[type="submit"] {
    background: #ecf0f1;
    color: #7f8c8d;
    font-weight: bold;
    border: 2.5px solid #ecf0f1;
    border-radius: 10px;
    padding: 1.5px 6px;
    cursor: pointer;
    transition: 1s;
}

#exitGroup form input[type="submit"]:hover {
    background: #f39c12;
    color: #fff;
    border: 2.5px solid #ecf0f1;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 1s;
}
